<div
  class="container-sm hero mb-5 mt-5 d-flex flex-wrap justify-content-between"
>
  <div class="card mb-3" style="width: 20rem">
    <img
      src="img/teacherIcon.png"
      style="width: 18rem"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Teacher & Admin</h5>
      <p class="card-text">
        This page is designed for teachers and administration of the Schools
        <br>
        <span class="text-danger"><strong>Students are not allowed</strong></span>
      </p>
      <a href="#" class="btn btn-primary">Log in</a>
    </div>
  </div>
  <div class="card mb-3" style="width: 20rem">
    <img
      src="img/studentIcon.png"
      style="width: 18rem"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Students</h5>
      <p class="card-text">
        This page is designed for the students and their parent.
        please click on the button to log in
      </p>
      <a href="/student/login" class="btn btn-primary">log in</a>
    </div>
  </div>
</div>
